
<div class="row">
    <div class="small-12 large-12 columns">
        <h1 class="text-center title headerpagehome">{{ 'views.user.profile.edit.title'|trans }}</h1>
    </div>
</div>
<div class="row">
    <div class="small-12 large-12 columns">
        {% include "FOSUserBundle:Profile:form.html.twig" %}
    </div>
</div>